;This is configuration file for BLOCEK
;It exist in two variants: DEFAULT.CFG and BLOCEK.CFG
;The first one is the default configuration and a backup. The latter one
;is the specific configuration which overrides setting from DEFAULT.CFG
;Besides many others is here defined the program language.
;Look to variable "jazyk" which reffers to message files which will be loaded
;and used.
;More informations and instructions about translations are in file
;TRANSLAT.TXT in TRANSLAT subdirectory.


verze_konfiguratoru = 6
barevna_syntaxe = 0
jazyk = EN                 ;language of program messages
                           ;EN: use message files BLOCEK1.EN and BLOCEK2.EN
                           ;CZ: use message files BLOCEK1.CZ and BLOCEK2.CZ
                           ;(analogically for other languages)
zaklad = 1234              ;desktop colour
popredi = 44373            ;ink colour
pozadi = 21                ;paper colour
pozadi_ozn = 400           ;selected text color
zvyraznene_popredi = -64000;higlighted line color (negative value means disabled)
tab_na_mezery = 8          ;TAB indent
imgfilter = 1

ruzne_sys_priznaky = abcde ;a/A don't check swap / check swap
                           ;b/B check mouse / do not check mouse
                           ;c/C disable CTRL-Break / enable CTRL-Break
                           ;d/D allow windows clipboard / deny windows clipboard
                           ;e/E new keyboard hander / old keyboard hander

zkontroluj_swap = 0  ;check presence of virtual memory
oddelovac_tisicu = ","          ;thousands separator
use_sse = 0
use_mmx = 1

screen_width = 800
screen_height = 600
use_vesa3 = 0        ;0=disable VESA3 functions, else use VESA3 if available
use_lfb = 1          ;0=never use linear frame buffer (LFB); 1=use LFB if available

vga_fonts = vga      ;load default VGA fonts from VGA hardware
;vga_fonts = latin2.wfv#latin8.fv, latin2.wfv#latin14.fv, latin2.wfv#latin16.fv
                     ;replace default VGA fonts from font files

doplnky_desktopu = <SKOK=50%-160,50%-100; IMG=blocek.png (-)> ;desktop aesthetic improvements
prefix_ck_text = <FONT=__VGA8;BARVA=0>  ;setting for text added to bar codes
document_unicode_font = unismall.fu   ;font for unicode mode
document_codepage_font = <vga16>      ;font for non-unicode mode
                                 ;you can use included FN or CH fonts
                                 ;or choose one from available VGA fonts.
                                 ;Use these codes:
                                 ;<vga16> proportional 8x16 font from VGA generator
                                 ;<vga16u> UNproportinal 8x16 font from VGA generator
                                 ;<vga14> proportional 8x14 font from VGA gen.
                                 ;<vga8> proportional 8x8 font from VGA gen.

default_document_codepage = DOS  ;Here can be a direct codepage specification
                                 ;(like 852, 866, etc.)
                                 ;or "unicode" or "DOS" (both without quotes)
                                 ;Note that if you use the direct cp. spec.
                                 ;you must have a corresponding TBL file in
                                 ;the ".\KEY_TBL\" subdirectory
                                 ;(cp852uni.tbl, cp866uni.tbl, etc.)

pref_klavesnice = , CESKA.KTB, ENGLISH.KTB, RUSSKAJA.KTB
nacitej_exif = 1      ;0=ignore Exif tags in JPEG files
autorotace_exif = 1      ;0=disable autorotating JPEG files accordingly Exif orient. tag





